*{
    color: white;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}

.main_div {
    border: 2px solid rgb(0, 196, 29);
    border-radius: 10px;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*For objects assigned a class, you can define a style for anything that uses the class*/
.HyperlinkButtons {
    width:3.5%;
    height:3.5%;
    margin-bottom:10px;
}
.HyperlinkButtons:hover {
   /*filter:grayscale(100%);*/
   /*background: blue;*/
   filter: brightness(50%);
}

/* Solid border */
hr.solid {
    border: none;
    border-top: 3px solid #bbb;
    width: 97.5%
}
/* Dashed border */
hr.dashed {
    border: none;
    border-top: 3px dashed #bbb;
    width: 97.5%
}

.portfolio_showcase_block {
    border:2px solid white;
    width:20%;align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0%;
    background-color: rgb(27, 27, 27);
    border-radius: 2%;
}
.showcase_block_image {
    position: relative;
    display: block;
    padding: 0;
    object-fit: contain;
}
.image {
    max-height:100%;
    max-width:100%;
    overflow:hidden;
    border-radius: 2%;
}
.showcase_block_header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -5%;
    margin-bottom: -5%;
}
.showcase_block_paragraph {
    text-align: left;
    margin-left: 2%; 
    margin-right: 2%;
}
.showcase_block_separator {
    border: none; 
    border-top: 2px solid white;
    margin-top:-1%;
}
.showcase_block_hyperlink_section {

}